@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Della+Respira&display=swap');
:root {
    --darkgreen: #2D4B1E;
    --lightorange: #C56C39;
    --darkorange: #99542C;
}

* {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    background-color: lightgrey;
}

main {
    text-align: center;
    color: var(--darkgreen);
}

header {
    text-align: center;
    padding: 40px;
    color: var(--lightorange);
    background-color: var(--darkgreen);
}

h1 {
    background-color: var(--darkgreen);
    font-size: 5rem;
}

form {
    padding: 40px;
}

form h2 {
    padding: 10px;
}

input {
    height: 38px;
}

.parks {
    padding: 40px;
    text-align: center;
}

.parks h2 {
    margin-bottom: 35px;
    color: var(--lightorange);
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.listItem {
    border: 5px solid var(--darkorange);
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: 10px 5px 5px var(--darkgreen);
    background-color: lightgray;
}

.weatherContainer {
    display: none;
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.weatherBox {
    display: none;
    padding: 10px;
    border: 4px solid var(--lightorange);
    border-radius: 25px;
    width: 150px;
}

.weatherBtn {
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.weatherBtn:hover {
    background: var(--darkorange);
}

.searchButton {
    padding: 5px;
    background: var(--lightorange);
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.searchButton:hover {
    background: var(--darkorange);
}