:root {
    --darkgreen: #2d4b1e;
    --lightorange: #c56c39;
    --darkorange: #99542c;
}

.searchButton {
    padding: 5px;
    background: var(--lightorange);
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.searchButton:hover {
    background: var(--darkorange);
}